html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.full-width {
  width: 100%;
}

.sidebar {
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.resultTable tr:nth-child(even) {
  background-color: lightgray;
}
